*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 172px;
    z-index: 10;
    position: relative;
}
header h1{
    width: 280px;
    height: 90px;
    margin: 0 auto;
}
.logo_img{width:100%; height:100%;}
header .lo_jo{
    width: 130px;
    height: 30px;
    position: absolute;
    right:10%;
    top: 40px;
}
header .lo_jo li{
    font-size: 16px;
    float: left;
    color: #707070;
    margin-right: 10px;
}
header .lo_jo li:nth-child(3){
    margin-right: 0;
}
header .lo_jo li a{
    width: 100%;
    height: 100%;
    display: block;
}
header nav{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #B6B6B6;
    border-top: 1px solid #B6B6B6;
    background: #fff;
}
header nav .gnb{
    text-align: center;
    width: 620px;
    height: 100%;
    margin: 0 auto;
}
header nav .gnb>li{
    line-height: 80px;
    width: 100px;
    float: left;
    height: 80px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 30px;
}
header nav .gnb>li:nth-child(5){
    margin: 0;
}
header nav .gnb>li:hover>a{
    border-bottom: 4px solid #6167B2;
}
header nav .gnb>li.on>a{
    border-bottom: 4px solid #6167B2;
    font-weight: bold;
}
header nav .gnb>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.contents {
    width: 1260px;
    margin: 0 auto;
}

.Join{
    padding-top: 130px;
    width: 1260px;
    margin: 0 auto;
  }
  .title{
      text-align: center;
      font-size: 40px;
  }
  .Join_nae{
    margin: 50px auto 0;
     width: 750px;
  }
  .Join_nae>div{
      height: 149px;
      margin-bottom: 30px;
      position: relative;
  }
  .Join_nae>div>label{
      font-size: 25px;
  }
  .Join_nae>div>input{
      width: 510px;
      height: 25px;
      font-size: 18px;
      border-radius: 28px;
      padding: 10px 20px;
      position: absolute;
      left: 0;
      top: 52px;
  }
  .Join_nae>div>ul{
      position: absolute;
      top: 106px;
      left: 0;
  }
  .Join_nae>div>ul>li:nth-child(2){
      margin-top: 2px;
  }
  .Join_nae>div>button{
      width: 150px;
      height: 50px;
      font-size: 20px;
      border: 1px solid #6167B2;
      background-color: #fff;
      color: #6167B2;
      position: absolute;
      right: 0;
      top: 49px;
      
  }
  .Join_nae>div>button:hover{
      background: #6167B2;
      color: #fff;
  }
  .Join_nae>.id>label p{
      top: 0;
      left: 70px;
      position: absolute;
  }
  .Join_nae>.password>label p{
    top: 0;
    left: 92px;
    position: absolute;
}
.Join_nae>.password_check>label p{
    top: 0;
    left: 144px;
    position: absolute;
}
.Join_nae>.nickname>label p,.Join_nae>.email>label p, .Join_nae>.phone>label p{
    top: 0;
    left: 69px;
    position: absolute;
}
.Join_nae>div p{
      width: 9px;
      height: 26px;
      color: #FF0000;
      font-size: 18px;
      float: left;
}
.Join_nae>div p.margin_p{margin-left: -9px;}
.recommend {
      position: relative;
      width: 960px;
      margin: 0 auto;
      height: 468px;
      margin-top: 150px;
}
.re_line{
      width: 100%;
      border-top: 2px solid #6167B2;
}
.recommend h3{
    margin: 0 auto;
    width: 493px;
    height: 29px;
    text-align: center;
    background: #fff;
    margin-top: -13px;
}
.recommend_nae{
    position: relative;
    float: left;
    margin-top: 60px;
}
.recommend_nae h4{
    float: left;
    font-size: 25px;
    width: 100%;
    position: relative;
}
.recommend_nae h4 p{
    font-size: 15px;
    color: #707070;
    position: absolute;
    bottom: 5px;
    left: 60px;
}
.select-box{
    position: relative;
  width: 224px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #6167B2;
  margin-top: 52px;
}
.select-box .mbti-select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
    font-size: 25px;
    text-align: center;
  }
  .select-box .mbti-select option {
    background: #6167B2;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
  }
  .date_select{
      margin-top: 30px;
  }
  .recommend_nae h4.date_select>p{
    left:178px;
}

.liking{
    width: 100%;
    margin-top: 82px;
}

:root {
    --transition: .25s;
    --clr-gray: rgb(126, 126, 126);
    --clr-purple: #6167B2;
}





.box-group {
    position: relative;
    display: inline-block;
    margin: 20px 15px;
}
.box-group input[type="checkbox"] {
    display: none;
}
.box-group label {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    color: var(--clr-gray);
}


.box-group.solid label {
    padding: 10px 25px;
    border-radius: 10px;
    transition: var(--transition);
}

.box-group.solid.border-bg label {
    background: rgba(0, 0, 0, .1);
}
.box-group.solid:hover label {
    background: rgba(0, 0, 0, .05);
}
.box-group.solid input[type="checkbox"]:checked + label{
    color: #ffffff;
    background: var(--clr-purple);
    border-color: var(--clr-purple);
}
.box-group.solid label::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    transform: scale(0) translateX(-20px);
    opacity: 0;
    transition: var(--transition);
}

.box-group.solid input[type="checkbox"]:checked + label::before{
    opacity: 1;
    transform: scale(1) translateX(0);
}

.join_bt{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background: #6167B2;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 70px 0 35px 46%;
}

footer{
    width: 100%;
    height: 172px;
    background-color: #C7C7C7;
    position: relative;
    margin-top: 130px;
}

footer .fo_mar{width: 784px; height: 70px; margin: 0 auto; padding-top: 57px;}
footer .fo_mar h1{width: 180px; height: 60px; float: left; margin-right: 100px;}
footer .fo_mar h1 img{width:100%; height: 100%;}
footer .fo_mar nav{height: 30px; width: 504px; float: left;}
footer .fo_mar nav .fo_menu li{float: left; margin-right: 20px; font-size: 20px; color: #707070;}
footer .fo_mar p{color: #707070; font-size: 16px; width: 267px; height: 23px; margin-top: 10px; float: left;}

@media (min-width:1180px) and (max-width:1570.9px){
    .contents{width: 1100px;}
}
@media (min-width:980px) and (max-width:1179.9px){
    .contents{width: 980px;}
    .recommend{width: 900px;}

    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 163px; height: 53px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 15px;}
    footer .fo_mar p{font-size: 12px; margin-top: 0px;}
}

@media (min-width:700px) and (max-width:979.9px){
    header{height: 152px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo li{font-size: 13px;}
    header nav{height: 60px;}
    header nav .gnb>li{font-size: 13px; line-height: 60px;}
    header nav .gnb>li>a{height: 56.984px;}

    .contents{width: 700px;}
    .Join_nae{width: 650px;}
    .Join_nae>div>input {width: 435px;}
    .recommend{width: 680px;}
    
    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 143px; height: 47px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 12px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}


@media (min-width:650px) and (max-width:699.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 622px;}
    .title {font-size: 35px;}
    .Join_nae{width: 600px;}
    .Join_nae>div>label {font-size: 22px;}
    .Join_nae>.id>label p {left: 65px;}
    .Join_nae>div>input {width: 390px; font-size: 16px;}
    .Join_nae>div>button{font-size: 17px; width: 105px;}
    .recommend{width: 622px; margin-top: 90px;}
    .select-box {width: 175px;}
    .select-box .mbti-select{font-size: 20px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 20px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}

@media (min-width:600px) and (max-width:649.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:600px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 16%;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 580px;}
    .title {font-size: 32px;}
    .Join_nae{width: 560px;}
    .Join_nae>div {height: 150px; margin-bottom: 20px;}
    .Join_nae>div>label {font-size: 20px;}
    .Join_nae>div ul li{font-size: 14px;}
    .Join_nae>.id>label p {left: 65px;}
    .Join_nae>div>input {width: 390px; font-size: 14px; height: 19px;}
    .Join_nae>div>button{font-size: 14px; width: 100px; height: 36px; top: 52px;}
    .recommend{width: 580px; margin-top: 90px;}
    .select-box {width: 175px;}
    .select-box .mbti-select{font-size: 20px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 20px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:550px) and (max-width:599.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:550px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 82px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}
  
    .contents{width: 520px;}
    .title {font-size: 32px;}
    .Join_nae{width: 500px;}
    .Join_nae>div {height: 150px; margin-bottom: 20px;}
    .Join_nae>div>label {font-size: 18px;}
    .Join_nae>div ul li{font-size: 14px;}
    .Join_nae>.id>label p {left: 53px;}
    .Join_nae>.password>label p {left: 70px;}
    .Join_nae>.password_check>label p {left: 110px;}
    .Join_nae>.nickname>label p, .Join_nae>.email>label p, .Join_nae>.phone>label p {left: 54px;}
    .Join_nae>div>input {width: 320px; font-size: 14px; height: 19px; top: 40px;}
    .Join_nae>div>button{font-size: 14px; width: 100px; height: 36px; top: 44px;}
    .Join_nae>div>ul {top: 95px;}
    .recommend{width: 520px; margin-top: 40px;}
    .recommend h3 {width: 362px; height: 22px; font-size: 14px;}
    .recommend_nae h4 {font-size: 20px;}
    .recommend_nae h4 p {font-size: 11px; bottom: 4px; left: 54px;}
    .recommend_nae h4.date_select>p {left: 145px;}
    .select-box {width: 115px; height: 35px;}
    .select-box .mbti-select{font-size: 17px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 14px;}
    .join_bt {width: 130px; height: 40px; font-size: 16px; margin: 50px 0 35px 46%;}
 
    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:500px) and (max-width:549.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 76px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 480px;}
    .title {font-size: 32px;}
    .Join_nae{width: 450px;}
    .Join_nae>div {height: 120px; margin-bottom: 20px;}
    .Join_nae>div p{font-size: 12px;}
    .Join_nae>div>label {font-size: 18px;}
    .Join_nae>div ul li{font-size: 11px;}
    .Join_nae>.id>label p {left: 53px;}
    .Join_nae>.password>label p {left: 70px;}
    .Join_nae>.password_check>label p {left: 110px;}
    .Join_nae>.nickname>label p, .Join_nae>.email>label p, .Join_nae>.phone>label p {left: 54px;}
    .Join_nae>div>input {width: 295px; font-size: 12px; height: 14px; top: 40px;}
    .Join_nae>div>button{font-size: 14px; width: 100px; height: 33px; top: 41px;}
    .Join_nae>div>ul {top: 85px;}
    .recommend{width: 470px; margin-top: 40px; height: 415px;}
    .recommend h3 {width: 362px; height: 22px; font-size: 14px;}
    .recommend_nae{margin-top: 30px;}
    .recommend_nae h4 {font-size: 18px;}
    .recommend_nae h4 p {font-size: 10px; bottom: 4px; left: 47px;}
    .recommend_nae h4.date_select>p {left: 130px;}
    .select-box {width: 100px; height: 35px; margin-top: 35px;}
    .select-box .mbti-select{font-size: 14px;}
    .liking {margin-top: 55px;}
    .box-group {margin: 20px 5px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 14px;}
    .join_bt {width: 130px; height: 40px; font-size: 16px; margin: 50px 0 35px 46%;}

    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:450px) and (max-width:499.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 5%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 65px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}
    
    .contents{width: 430px;}
    .title {font-size: 25px;}
    .Join_nae{width: 400px;}
    .Join_nae>div {height: 120px; margin-bottom: 20px;}
    .Join_nae>div p{font-size: 12px;}
    .Join_nae>div>label {font-size: 18px;}
    .Join_nae>div ul li{font-size: 11px;}
    .Join_nae>.id>label p {left: 53px;}
    .Join_nae>.password>label p {left: 70px;}
    .Join_nae>.password_check>label p {left: 110px;}
    .Join_nae>.nickname>label p, .Join_nae>.email>label p, .Join_nae>.phone>label p {left: 54px;}
    .Join_nae>div>input {width: 240px; font-size: 12px; height: 14px; top: 40px;}
    .Join_nae>div>button{font-size: 14px; width: 100px; height: 33px; top: 41px;}
    .Join_nae>div>ul {top: 85px;}
    .recommend{width: 430px; margin-top: 40px; height: 415px;}
    .recommend h3 {width: 362px; height: 22px; font-size: 14px;}
    .recommend_nae{margin-top: 30px;}
    .recommend_nae h4 {font-size: 18px;}
    .recommend_nae h4 p {font-size: 10px; bottom: 4px; left: 47px;}
    .recommend_nae h4.date_select>p {left: 130px;}
    .select-box {width: 100px; height: 35px; margin-top: 35px;}
    .select-box .mbti-select{font-size: 14px;}
    .liking {margin-top: 55px;}
    .box-group {margin: 20px 5px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 14px;}
    .join_bt {width: 130px; height: 40px; font-size: 16px; margin: 50px 0 35px 40%;}

    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:400px) and (max-width:449.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 55px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 380px;}
    .title {font-size: 25px;}
    .Join_nae{width: 350px;}
    .Join_nae>div {height: 100px; margin-bottom: 20px;}
    .Join_nae>div p{font-size: 12px;}
    .Join_nae>div>label {font-size: 15px;}
    .Join_nae>div ul li{font-size: 10px;}
    .Join_nae>.id>label p {left: 45px;}
    .Join_nae>.password>label p {left: 57px;}
    .Join_nae>.password_check>label p {left: 90px;}
    .Join_nae>.nickname>label p, .Join_nae>.email>label p, .Join_nae>.phone>label p {left: 45px;}
    .Join_nae>div>input {width: 230px; font-size: 10px; height: 8px; top: 30px; padding: 10px 10px;}
    .Join_nae>div>button{font-size: 11px; width: 80px; height: 30px; top: 30px;}
    .Join_nae>div>ul {top: 70px;}
    .recommend{width: 380px; margin-top: 40px; height: 415px;}
    .recommend h3 {width: 362px; height: 22px; font-size: 14px;}
    .recommend_nae{margin-top: 30px;}
    .recommend_nae h4 {font-size: 14px;}
    .recommend_nae h4 p {font-size: 10px; bottom: 2px; left: 38px;}
    .recommend_nae h4.date_select>p {left: 100px;}
    .select-box {width: 100px; height: 35px; margin-top: 35px;}
    .select-box .mbti-select{font-size: 14px;}
    .liking {margin-top: 55px;}
    .box-group {margin: 20px 5px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 14px;}
    .join_bt {width: 110px; height: 40px; font-size: 13px; margin: 50px 0 35px 40%;}

    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:350px) and (max-width:399.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 26px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 330px;}
    .title {font-size: 25px;}
    .Join{padding-top: 90px;}
    .Join_nae{width: 300px;}
    .Join_nae>div {height: 100px; margin-bottom: 20px;}
    .Join_nae>div p{font-size: 12px;}
    .Join_nae>div>label {font-size: 15px;}
    .Join_nae>div ul li{font-size: 10px;}
    .Join_nae>.id>label p {left: 45px;}
    .Join_nae>.password>label p {left: 57px;}
    .Join_nae>.password_check>label p {left: 90px;}
    .Join_nae>.nickname>label p, .Join_nae>.email>label p, .Join_nae>.phone>label p {left: 45px;}
    .Join_nae>div>input {width: 185px; font-size: 10px; height: 8px; top: 30px; padding: 10px 10px;}
    .Join_nae>div>button{font-size: 11px; width: 80px; height: 30px; top: 30px;}
    .Join_nae>div>ul {top: 70px;}
    .recommend{width: 330px; margin-top: 40px; height: 415px;} 
    .recommend h3 {width: 287px; height: 18px; font-size: 11px; margin-top: -10px;}
    .recommend_nae{margin-top: 30px;}
    .recommend_nae h4 {font-size: 14px;}
    .recommend_nae h4 p {font-size: 10px; bottom: 2px; left: 38px;}
    .recommend_nae h4.date_select>p {left: 100px;}
    .select-box {width: 100px; height: 35px; margin-top: 35px;}
    .select-box .mbti-select{font-size: 14px;}
    .liking {margin-top: 55px;}
    .box-group {margin: 20px 5px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 14px;}
    .join_bt {width: 110px; height: 40px; font-size: 13px; margin: 50px 0 35px 40%;}

    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 346px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 10px;}
    footer .fo_mar nav{width: 236px;}
    footer .fo_mar nav .fo_menu li{margin-right: 6px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 192px;}
}

@media (min-width:300px) and (max-width:349.9px){
    header{height: 100px;}
    header h1{width: 84px; height: 38px; margin:10px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%; top: 25px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 280px;}
    .title {font-size: 20px;}
    .Join{padding-top: 50px;}
    .Join_nae{width: 270px; margin: 30px auto 0;}
    .Join_nae>div {height: 100px; margin-bottom: 20px;}
    .Join_nae>div p{font-size: 12px;}
    .Join_nae>div>label {font-size: 15px;}
    .Join_nae>div ul li{font-size: 10px;}
    .Join_nae>.id>label p {left: 45px;}
    .Join_nae>.password>label p {left: 57px;}
    .Join_nae>.password_check>label p {left: 90px;}
    .Join_nae>.nickname>label p, .Join_nae>.email>label p, .Join_nae>.phone>label p {left: 45px;}
    .Join_nae>div>input {width: 178px; font-size: 10px; height: 8px; top: 30px; padding: 10px 10px;}
    .Join_nae>div>button{font-size: 11px; width: 60px; height: 30px; top: 30px;}
    .Join_nae>div>ul {top: 70px;}
    .recommend{width: 280px; margin-top: 0; height: 415px;} 
    .recommend h3 {width: 252px; height: 18px; font-size: 10px; margin-top: -10px;}
    .recommend_nae{margin-top: 30px;}
    .recommend_nae h4 {font-size: 14px;}
    .recommend_nae h4 p {font-size: 10px; bottom: 2px; left: 38px;}
    .recommend_nae h4.date_select>p {left: 100px;}
    .select-box {width: 100px; height: 35px; margin-top: 35px;}
    .select-box .mbti-select{font-size: 14px;}
    .liking {margin-top: 55px;}
    .box-group {margin: 20px 5px;}
    .box-group.solid label {padding: 8px 20px;}
    .box-group label {font-size: 14px;}
    .join_bt {width: 110px; height: 40px; font-size: 13px; margin: 50px 0 35px 40%;}
    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 259px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 256px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 11px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}

@media (max-width:299.9px){
    body{margin-top: -20px;}
    header{height: 100px;}
    header h1{width: 94px; height: 32px; margin:37px auto 19px;}
    header .lo_jo {width: 78px;height: 15px; right: 0; top: 25px;}
    header .lo_jo li{font-size: 10px; margin-right: 5px;}
    header nav{height: 50px;  overflow: hidden; overflow: scroll;}
    header nav .gnb{width: 298px; overflow-x: scroll; flex-wrap: nowrap; display: flex; justify-content: start;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 49px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 270px;}
    .contents>p{font-size: 10px;}
    .contents h2{font-size: 14px;}


    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 225px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 228px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 4px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}









