*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 172px;
    z-index: 10;
    position: relative;
}
header h1{
    width: 280px;
    height: 90px;
    margin: 0 auto;
}
.logo_img{width:100%; height:100%;}
header .lo_jo{
    width: 130px;
    height: 30px;
    position: absolute;
    right:10%;
    top: 40px;
}
header .lo_jo li{
    font-size: 16px;
    float: left;
    color: #707070;
    margin-right: 10px;
}
header .lo_jo li:nth-child(3){
    margin-right: 0;
}
header .lo_jo li a{
    width: 100%;
    height: 100%;
    display: block;
}
header nav{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #B6B6B6;
    border-top: 1px solid #B6B6B6;
    background: #fff;
}
header nav .gnb{
    text-align: center;
    width: 620px;
    height: 100%;
    margin: 0 auto;
}
header nav .gnb>li{
    line-height: 80px;
    width: 100px;
    float: left;
    height: 80px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 30px;
}
header nav .gnb>li:nth-child(5){
    margin: 0;
}
header nav .gnb>li:hover>a{
    border-bottom: 4px solid #6167B2;
}
header nav .gnb>li.on>a{
    border-bottom: 4px solid #6167B2;
    font-weight: bold;
}
header nav .gnb>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.contents{
    width: 1260px;
    margin: 0 auto;
}
.contents h2{
    font-size: 20px;
    text-align: center;
}
.contents h2 img{
    height: 18px;
    margin-right: 5px;
}
.contents>p{
    color: #707070;
    margin: 20px;
}
.contents .place{
    width: 100%;
    height: 1038px;
    border: 1px solid #707070;
    margin: 0 auto;
    margin-top: 117px;
}
.contents .place h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.contents .place h2 span.kind{
    margin-left: 20px;
    font-size: 10px;
    font-weight: normal;
    color: #3E3E3E;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 264px;
    width: 264px;
}
.gallery-thumbs {
    height: 38%;
    box-sizing: border-box;
    padding: 30px 0 0 0;
}
.gallery-thumbs .swiper-slide {
    width: 130px;
    height: 130px;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
.contents .place .img{
    padding-top: 40px;
    margin: 0 auto;
    width: 390px;
    height: 424px;
    position: relative;
}

.contents .place .ex{
    margin: 0 auto;
    padding-top: 40px;
    width: 390px;
    height: 118px;
}
.contents .place .ex h4{
    margin-bottom: 20px;
}
.contents .place .ex h4:nth-child(3){
    margin-bottom: 0;
}
.contents .place .ex h4 span.tit{
    font-size: 18px;
    color: #3E3E3E;
}
.contents .place .ex h4 span.tit_ex{
    font-size: 15px;
    color: #707070;
    margin-left: 10px;
    font-weight: normal;
} 
.contents .place .ex h4 span.im{
    font-size: 10px;
    color: #FF0000;
    margin-left: 2px;
    font-weight: normal;
} 
.contents .place .map{
    padding-top: 20px;
    margin: 0 auto;
    width: 260px;
    height: 280px;
}
.contents .place .map .map_img{
    width: 260px;
    height: 260px;
    background-color: #e4e4e4;
    border: 1px solid #6167B2;
}
.visit {
    margin: 0 auto;
    width: 100%;
    height: 283px;
    padding-top: 30px;
}
.visit>p{
    font-size: 20px;
    float: left;
}
.visit  p.more{
    font-size: 13px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    color: #6167B2;
    cursor: pointer;
}
.visit .review{
    margin-top: 40px;
    width: 100%;;
    height: 187px;
    display: flex;
}
.visit .review>div{
    float: left;
    width: 45%;
    margin: 0 auto;
}
.visit .review .review_1{
    height: 187px;
    border: 1px solid #707070;
}
.visit .review .id{
    font-size: 20px;
    float: left;
    margin-top: 19px;
    margin-left: 45px;
}
.visit .review .star {
    width: 115px;
    float: left;
    margin-top: 24px;
    padding-left: 10px;
}
.visit .review .star img{
    width: 20px;
    height: 20px;
}
.visit .review .img{
    width: 100px;
    height: 100px;
    background: #707070;
    margin-top: 65px;
    margin-left: -206px;
    float: left;
}
.visit .review .review_1 .review_nae{
    font-size: 15px;
    float: left;
    margin:19px 41px 0 169px;
}
.visit .review .review_2{
    height: 187px;
    border: 1px solid #707070;
}
.visit .review .review_2 .review_nae{
    font-size: 15px;
    height: 42px;
    margin-left: 45px;
    margin-right: 22px;
    float: left;
    margin-top: 20px;
}
.line{
    width: 100%;
    border-top: 2px solid #B6B6B6;
    margin: 0 auto;
}
.comment{
    height: 570px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.comment .ico_comment{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}
.comment .comment_gae{
    float: left;
    font-size: 18px;
    color: #3E3E3E;
    margin-left: 10px;
    margin-top: 11px;
}
.comment .save{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    float: right;
    margin-right: 50px;
}
.comment .save.on{
    background-size: 30px 30px;
    background-image: url(../img/bookmark.png);
}
.comment_full{
    height: 352px;
    position: absolute;
    top: 55px;
    left: 100px;
}
.comment_full .more{
    font-size: 15px;
    color: #6167B2;
    float: left;
    font-weight: 500;
}
.comment_full .ico_more{
    margin-left: 5px;
}
.comment_group{
    margin-top: 20px;
    width: 100%;
    height: 91px;
}
.comment_group .nick{
    font-size: 15px;
    font-weight: 500;
} 
.comment_group .comment_shape{
    background-color: #F9F9F9;
    border-radius: 35px;
    margin-top: 10px;
    height: 60px;
}
.comment_group .comment_fir{
    width: 303px;
}
.comment_group .comment_sec{
    width: 200px;
}
.comment_group .comment_thir{
    width: 351px;
}
.comment_group .comment_shape p{
    padding-top: 18px;
    padding-left: 30px;
    font-size: 15px;
}
.comment_group .comment_shape p span.mention{
    color: #6167B2;
    font-weight: 500;
}
.comment_group .comment_shape p span.mention_nae{
    margin-left: 5px;
}
input{
    position: absolute;
    width: calc(100% - 20px);
    height: 70px;
    top: 447px;
    left: 0;
    padding-left: 20px;
    font-size: 15px;
}
button{
    width: 60px;
    height: 40px;
    position: absolute;
    top: 530px;
    right: 0;
    border:1px solid #B6B6B6;
    border-radius: 14px;
    background: #fff;
    color: #6167B2;
    font-size: 15px;
    font-weight: bold;
}
button:hover{
    background: #6167B2;
    color: #fff;
}
footer{
    width: 100%;
    height: 172px;
    background-color: #C7C7C7;
    position: relative;
    margin-top: 130px;
}
footer .fo_mar{width: 784px; height: 70px; margin: 0 auto; padding-top: 57px;}
footer .fo_mar h1{width: 180px; height: 60px; float: left; margin-right: 100px;}
footer .fo_mar h1 img{width:100%; height: 100%;}
footer .fo_mar nav{height: 30px; width: 504px; float: left;}
footer .fo_mar nav .fo_menu li{float: left; margin-right: 20px; font-size: 20px; color: #707070;}
footer .fo_mar p{color: #707070; font-size: 16px; width: 267px; height: 23px; margin-top: 10px; float: left;}

@media (min-width:1180px) and (max-width:1570.9px){
    .contents{width: 1100px;}
}
@media (min-width:980px) and (max-width:1179.9px){
    .contents{width: 980px;}

    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 163px; height: 53px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 15px;}
    footer .fo_mar p{font-size: 12px; margin-top: 0px;}
}


@media (min-width:700px) and (max-width:979.9px){
    header{height: 152px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo li{font-size: 13px;}
    header nav{height: 60px;}
    header nav .gnb>li{font-size: 13px; line-height: 60px;}
    header nav .gnb>li>a{height: 56.984px;}

    .contents{width: 700px;}
    .visit .review .img{width:80px; height:80px;}
    .visit .review .review_1 .review_nae{margin: 13px 41px 0 143px;}

    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 143px; height: 47px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 12px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}


@media (min-width:650px) and (max-width:699.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 622px;}
    .gallery-top, .swiper-wrapper, .contents .place .map .map_img{height: 250px; width: 250px;}
    .visit .review .img{width:80px; height:80px;}
    .visit .review .review_1 .review_nae{margin: 13px 41px 0 143px; font-size: 13px;}
    .visit .review .review_2 .review_nae{font-size: 13px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}

@media (min-width:600px) and (max-width:649.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:600px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 16%;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 580px;}
    .contents .place{margin-top: 54px;}
    .gallery-top, .swiper-wrapper, .contents .place .map .map_img{height: 250px; width: 250px;}
    .visit .review .img{width:80px; height:80px; margin-left: -194px;}
    .visit .review .id{font-size: 17px; margin-left: 23px;}
    .visit .review .review_1 .review_nae{margin: 13px 12px 0 117px; font-size: 13px;}
    .visit .review .review_2 .review_nae{font-size: 13px; margin-left: 24px;}
    .comment .ico_comment, .comment .save{width:25px; height:25px; margin-top: 12px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:550px) and (max-width:599.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:550px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 82px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 520px;}
    .contents .place{margin-top: 54px;}
    .gallery-top, .swiper-wrapper, .contents .place .map .map_img{height: 250px; width: 250px;}
    .visit .review .img{width:80px; height:80px; margin-left: -194px;}
    .visit .review .id{font-size: 17px; margin-left: 23px;}
    .visit .review .review_1 .review_nae{margin: 13px 12px 0 117px; font-size: 13px;}
    .visit .review .review_2 .review_nae{font-size: 13px; margin-left: 24px;}
    .comment .ico_comment, .comment .save{width:25px; height:25px; margin-top: 12px;}
  
    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:500px) and (max-width:549.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 76px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 480px;}
    .contents .place{margin-top: 54px;}
    .gallery-top, .swiper-wrapper, .contents .place .map .map_img, .contents .place .map{height: 220px; width: 220px;}
    .gallery-thumbs .swiper-slide{width: 120px; height: 120px;}
    .gallery-thumbs{height: 150px;}
    .contents .place .ex {padding-top:0;}
    .contents .place .ex h4 span.tit{font-size: 16px;}
    .contents .place .ex h4 span.tit_ex{font-size: 13px;}
    .visit>p{font-size: 18px;}
    .visit .review .img{width:80px; height:80px; margin-left: -194px;}
    .visit .review .id{font-size: 15px; margin-left: 23px;}
    .visit .review .star img{width:17px; height:17px;}
    .visit .review .review_1 .review_nae{margin: 13px 12px 0 107px; font-size: 12px;}
    .visit .review .review_2 .review_nae{font-size: 12px; margin-left: 24px;}
    .comment .ico_comment, .comment .save{width:20px; height:20px; margin-top: 15px;}
    .comment .comment_gae{font-size: 16px;}
    .comment_group .comment_fir{width: 261px;}
    .comment_group .comment_sec{width: 183px;}
    .comment_group .comment_thir {width: 306px;}
    .comment_group .comment_shape{height: 43px;}
    .comment_group .nick{font-size: 14px;}
    .comment_group .comment_shape p{font-size: 12px; padding-top: 12px;}
    input{height: 57px; font-size: 13px;}
    button{width: 54px; height: 34px; font-size: 12px;}

    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:450px) and (max-width:499.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 5%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 65px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 430px;}
    .contents>p{font-size: 13px;}
    .contents .place{margin-top: 54px; height: 878px;}
    .contents .place h2{font-size: 17px;}
    .contents .place .img{height: 368px;}
    .gallery-top, .swiper-wrapper, .contents .place .map .map_img, .contents .place .map{height: 200px; width: 200px;}
    .gallery-thumbs .swiper-slide{width: 110px; height: 110px;}
    .gallery-thumbs{height: 150px;}
    .contents .place .ex {padding-top:0;}
    .contents .place .ex h4 span.tit{font-size: 16px;}
    .contents .place .ex h4 span.tit_ex{font-size: 13px;}
    .visit>p{font-size: 15px;}
    .visit p.more{font-size: 10px;}
    .visit .review .img{width:80px; height:80px; margin-left: -131px; margin-top: 44px;}
    .visit .review .id{font-size: 13px; margin-left: 10px; margin-top: 10px;}
    .visit .review .star{margin-top: 10px;}
    .visit .review .star img{width:13px; height:13px;}
    .visit .review .review_1 .review_nae{margin: 97px 12px 0 12px; font-size: 12px; height: 52px; width: 170px; overflow: hidden; text-overflow: ellipsis;}
    .visit .review .review_2 .review_nae{font-size: 12px; margin-left: 24px;}
    .comment{height: 434px;}
    .comment .ico_comment, .comment .save{width:16px; height:16px; margin-top: 15px;}
    .comment_full .more{font-size: 12px;}
    .comment_full .ico_more{width: 14px;}
    .comment .comment_gae{font-size: 13px; margin-left: 7px; margin-top: 14px;}
    .comment_full{height: 298px;}
    .comment_full .comment_group:nth-child(4), .comment_full .comment_group:nth-child(5){margin-top: -6px;}
    .comment_group .comment_fir{width: 261px;}
    .comment_group .comment_sec{width: 183px;}
    .comment_group .comment_thir {width: 306px;}
    .comment_group .comment_shape{height: 43px;}
    .comment_group .nick{font-size: 13px;}
    .comment_group .comment_shape p{font-size: 12px; padding-top: 12px;}
    .comment_full {left: 53px;}
    input{height: 57px; font-size: 13px; top: 367px;}
    button{width: 54px; height: 34px; font-size: 12px; top: 442px;}

    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:400px) and (max-width:449.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 55px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 380px;}
    .contents>p{font-size: 10px;}
    .contents .place{margin-top: 54px; height: 878px;}
    .contents .place h2{font-size: 14px;}
    .contents .place .img{height: 368px;}
    .gallery-top, .swiper-wrapper, .contents .place .map .map_img, .contents .place .map{height: 200px; width: 200px;}
    .gallery-thumbs .swiper-slide{width: 110px; height: 110px;}
    .gallery-thumbs{height: 150px;}
    .contents .place .ex {padding-top:0; width: 312px;}
    .contents .place .ex h4 span.tit{font-size: 15px;}
    .contents .place .ex h4 span.tit_ex{font-size: 12px;}
    .visit>p{font-size: 15px;}
    .visit p.more{font-size: 10px;}
    .visit .review .img{width:80px; height:80px; margin-left: -113px; margin-top: 44px;}
    .visit .review .id{font-size: 13px; margin-left: 10px; margin-top: 10px;}
    .visit .review .star{margin-top: 10px; width: 85px;}
    .visit .review .star img{width:13px; height:13px;}
    .visit .review .review_1 .review_nae{margin: 97px 12px 0 12px; font-size: 10px; height: 52px; width: 147px; overflow: hidden; text-overflow: ellipsis;}
    .visit .review .review_2 .review_nae{font-size: 10px; margin-left: 24px;}
    .comment{height: 434px;}
    .comment .ico_comment, .comment .save{width:16px; height:16px; margin-top: 15px;}
    .comment_full .more{font-size: 12px;}
    .comment_full .ico_more{width: 14px;}
    .comment .comment_gae{font-size: 13px; margin-left: 7px; margin-top: 14px;}
    .comment_full{height: 298px;}
    .comment_full .comment_group:nth-child(4), .comment_full .comment_group:nth-child(5){margin-top: -6px;}
    .comment_group .comment_fir{width: 261px;}
    .comment_group .comment_sec{width: 183px;}
    .comment_group .comment_thir {width: 306px;}
    .comment_group .comment_shape{height: 43px;}
    .comment_group .nick{font-size: 13px;}
    .comment_group .comment_shape p{font-size: 12px; padding-top: 12px;}
    .comment_full {left: 53px;}
    input{height: 57px; font-size: 13px; top: 367px;}
    button{width: 54px; height: 34px; font-size: 12px; top: 442px;}

    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:350px) and (max-width:399.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 26px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 330px;}
    .contents>p{font-size: 10px;}
    .contents .place h2{font-size: 14px;}

    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 346px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 10px;}
    footer .fo_mar nav{width: 236px;}
    footer .fo_mar nav .fo_menu li{margin-right: 6px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 192px;}
}

@media (min-width:300px) and (max-width:349.9px){
    header{height: 100px;}
    header h1{width: 84px; height: 38px; margin:10px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%; top: 25px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 280px;}
    .contents>p{font-size: 10px;}
    .contents .place h2{font-size: 14px;}

    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 259px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 256px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 11px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}

@media (max-width:299.9px){
    body{margin-top: -20px;}
    header{height: 100px;}
    header h1{width: 94px; height: 32px; margin:37px auto 19px;}
    header .lo_jo {width: 78px;height: 15px; right: 0; top: 25px;}
    header .lo_jo li{font-size: 10px; margin-right: 5px;}
    header nav{height: 50px;  overflow: hidden; overflow: scroll;}
    header nav .gnb{width: 298px; overflow-x: scroll; flex-wrap: nowrap; display: flex; justify-content: start;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 49px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 270px;}
    .contents>p{font-size: 10px;}
    .contents .place h2{font-size: 14px;}

    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 225px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 228px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 4px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}