*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 172px;
    z-index: 10;
    position: relative;
}
header h1{
    width: 280px;
    height: 90px;
    margin: 0 auto;
}
.logo_img{width:100%; height:100%;}
header .lo_jo{
    width: 130px;
    height: 30px;
    position: absolute;
    right:10%;
    top: 40px;
}
header .lo_jo li{
    font-size: 16px;
    float: left;
    color: #707070;
    margin-right: 10px;
}
header .lo_jo li:nth-child(3){
    margin-right: 0;
}
header .lo_jo li a{
    width: 100%;
    height: 100%;
    display: block;
}
header nav{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #B6B6B6;
    border-top: 1px solid #B6B6B6;
    background: #fff;
}
header nav .gnb{
    text-align: center;
    width: 620px;
    height: 100%;
    margin: 0 auto;
}
header nav .gnb>li{
    line-height: 80px;
    width: 100px;
    float: left;
    height: 80px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 30px;
}
header nav .gnb>li:nth-child(5){
    margin: 0;
}
header nav .gnb>li:hover>a{
    border-bottom: 4px solid #6167B2;
}
header nav .gnb>li.on>a{
    border-bottom: 4px solid #6167B2;
    font-weight: bold;
}
header nav .gnb>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.contents{
    width: 1260px;
    margin: 0 auto;
}
.slide{
    width: 100%;
    height: 650px;
    position: relative;
}
.slide ul,.slide ul>li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide img{
    width: 1895px;
}
.Login{
    padding-top: 130px;
    width: 1260px;
    margin: 0 auto;
  }
  .title{
      text-align: center;
      font-size: 40px;
  }
  .main_lo{
      text-align: center;
  
  }
  .main_lo>div{
      padding-top: 50px;
  }
  .input-container label{
     font-size: 20px;
   
  }
  .input-container input{
      width: 550px;
      height: 45px;
      font-size: 17px;
      border: 1px solid #6167B2;
      padding: 5px;
  }
  .input-container .id input{
      margin-left: 50px;
  }
  .input-container .password{
      padding-top: 50px;
  }
  .input-container .password input{
      margin-left: 27px;
  }
  .loginMid{
      height: 30px;
      font-size: 18px;
      color: #707070;
      width: 515px;
      margin: 0 auto;
  }
  .loginMid .check{
      float: left;
  }
  .loginMid .autoLogin{
      margin-left: 20px;
  }
  .loginMid .ji_fi{
      float: right;
  }
  .loginMid .ji_fi .join{
      margin-right: 20px;
  }
  .button-container button{
      width: 100%;
      height: 50px;
      color: #fff;
      background: #6167B2;
      border: none;
      font-size: 20px;
  }
  .otherlogin{
      display: block;
      height: 105px;
      margin: 25px auto 0;
  }
  .otherlogin .login_nae {
    width: 100%;
    margin: 0 auto;
    height: 30px;
}
  .line{
      width: 182px;
      border-top: 2px solid #B6B6B6;
      margin-top: 14px;
      float: left;
  }
  .ri{
      width: 182px;
      float: right;
      border-top: 2px solid #B6B6B6;
      margin-top: 14px;
  }
  .otherlogin h3{
      color: #B6B6B6;
      float: left;
      font-size: 18px;
      margin: 0 22px;
  }
  .otherlogin .login{
    width: 730px;
    margin: 25px auto 0;
    height: 51px;
  }
  .otherlogin .login button{
      float: left;
      border: none;
      font-size: 16px;
      line-height: 50px;
      color: #fff;
      height: 50px;
  }
  .otherlogin .login img{
      width: 30px;
      height: 30px;
      float: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }
  .kakao{
      background-color: #F9E000;
      width: 220px;
      margin-right: 20px;
  }
  .naver{
      width: 210px;
      background-color: #2DB400;
      margin-right: 20px;
  }
  .facebook{
      width: 260px;
      background-color: #3B5998;
  }

  footer{
    width: 100%;
    height: 172px;
    background-color: #C7C7C7;
    position: relative;
    margin-top: 130px;
}
footer .fo_mar{width: 784px; height: 70px; margin: 0 auto; padding-top: 57px;}
footer .fo_mar h1{width: 180px; height: 60px; float: left; margin-right: 100px;}
footer .fo_mar h1 img{width:100%; height: 100%;}
footer .fo_mar nav{height: 30px; width: 504px; float: left;}
footer .fo_mar nav .fo_menu li{float: left; margin-right: 20px; font-size: 20px; color: #707070;}
footer .fo_mar p{color: #707070; font-size: 16px; width: 267px; height: 23px; margin-top: 10px; float: left;}

@media (min-width:1180px) and (max-width:1570.9px){
    .contents{width: 1100px;}
}
@media (min-width:980px) and (max-width:1179.9px){
    .contents{width: 980px;}

    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 163px; height: 53px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 15px;}
    footer .fo_mar p{font-size: 12px; margin-top: 0px;}
}

@media (min-width:700px) and (max-width:979.9px){
    header{height: 152px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo li{font-size: 13px;}
    header nav{height: 60px;}
    header nav .gnb>li{font-size: 13px; line-height: 60px;}
    header nav .gnb>li>a{height: 56.984px;}

    .contents{width: 700px;}
    .title {font-size: 35px;}
    .input-container input {width: 500px;}
    .loginMid {font-size: 16px; width: 465px;}
    .otherlogin .login button {font-size: 14px; height: 45px; line-height: 45px;}
    .otherlogin .login img {width: 25px; height: 25px; padding-right: 0px;}
    .kakao {width: 180px;}
    .naver {width: 190px;}
    .facebook {width: 215px;}
    .otherlogin .login {width: 625px; height: 45px;}
    
    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 143px; height: 47px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 12px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}


@media (min-width:650px) and (max-width:699.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 622px;}
    .Login {padding-top: 110px;}
    .title {font-size: 35px;}
    .input-container input {width: 500px;}
    .loginMid {font-size: 16px; width: 465px;}
    .ri, .line {width: 168px;}
    .otherlogin h3 {font-size: 16px;}
    .otherlogin .login button {font-size: 14px; height: 45px; line-height: 45px;}
    .otherlogin .login img {width: 25px; height: 25px; padding-right: 0px;}
    .kakao {width: 180px;}
    .naver {width: 190px;}
    .facebook {width: 215px;}
    .otherlogin .login {width: 625px; height: 45px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}

@media (min-width:600px) and (max-width:649.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:600px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 16%;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 580px;}
    .Login {padding-top: 110px;}
    .title {font-size: 35px;}
    .input-container input {width: 430px;}
    .loginMid {font-size: 16px; width: 465px;}
    .ri, .line {width: 147px;}
    .otherlogin h3 {font-size: 16px;}
    .otherlogin .login button {font-size: 12px; height: 45px; line-height: 45px;}
    .otherlogin .login img {width: 25px; height: 25px; padding-right: 0px;}
    .kakao {width: 160px;}
    .naver {width: 165px;}
    .facebook {width: 190px;}
    .otherlogin .login {width: 555px; height: 45px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:550px) and (max-width:599.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:550px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 82px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}
  
    .contents{width: 520px;}
    .Login {padding-top: 110px;}
    .title {font-size: 35px;}
    .input-container input {width: 398px;}
    .loginMid {font-size: 16px; width: 465px;}
    .ri, .line {width: 147px; margin-top: 9px;}
    .otherlogin h3 {font-size: 12px;}
    .otherlogin .login button {font-size: 12px; height: 45px; line-height: 45px;}
    .otherlogin .login img {width: 25px; height: 25px; padding-right: 0px; padding-left: 5px;}
    .kakao {width: 153px; margin-right: 10px;}
    .naver {width: 153px; margin-right: 10px;}
    .facebook {width: 182px;}
    .otherlogin .login {width: 508px; height: 45px;}
 
    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:500px) and (max-width:549.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 76px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 480px;}
    .Login {padding-top: 110px;}
    .title {font-size: 30px;}
    .input-container input {width: 358px; height: 40px;}
    .loginMid {font-size: 16px; width: 465px;}
    .ri, .line {width: 142px; margin-top: 9px;}
    .otherlogin h3 {font-size: 12px; margin: 0 7px;}
    .button-container button{font-size: 17px;}
    .otherlogin .login button {font-size: 12px; height: 38px; line-height: 38px;}
    .otherlogin .login img {width: 20px; height: 20px; padding-right: 0px; padding-left: 5px;}
    .kakao {width: 147px; margin-right: 5px;}
    .naver {width: 147px; margin-right: 5px;}
    .facebook {width: 173px;}
    .otherlogin{height: 93px;}
    .otherlogin .login {width: 477px; height: 38px;}

    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:450px) and (max-width:499.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 5%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 65px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}
    
    .contents{width: 430px;}
    .Login {padding-top: 70px;}
    .title {font-size: 27px;}
    .input-container label {font-size: 17px;}
    .input-container input {width: 300px; height: 30px; font-size: 15px;}
    .loginMid {font-size: 14px; width: 430px;}
    .ri, .line {width: 117px; margin-top: 9px;}
    .otherlogin h3 {font-size: 12px; margin: 0 7px;}
    .button-container button{font-size: 15px; height: 40px;}
    .otherlogin .login button {font-size: 12px; height: 38px; line-height: 38px;}
    .otherlogin .login img {width: 20px; height: 20px; padding-right: 0px; padding-left: 5px;}
    .kakao, .naver, .facebook{width: 100%;}
    .kakao, .naver {margin: 0 0 8px 0;}
    .otherlogin{height: 185px;}
    .otherlogin .login {width: 430px; height: 130px;}

    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:400px) and (max-width:449.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 55px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 380px;}
    .Login {padding-top: 70px;}
    .title {font-size: 27px;}
    .input-container label {font-size: 17px;}
    .input-container input {width: 265px; height: 30px; font-size: 15px;}
    .loginMid {font-size: 12px; width: 365px;}
    .ri, .line {width: 92px; margin-top: 9px;}
    .otherlogin h3 {font-size: 12px; margin: 0 7px;}
    .button-container button{font-size: 15px; height: 40px;}
    .otherlogin .login button {font-size: 12px; height: 38px; line-height: 38px;}
    .otherlogin .login img {width: 20px; height: 20px; padding-right: 0px; padding-left: 5px;}
    .kakao, .naver, .facebook{width: 100%;}
    .kakao, .naver {margin: 0 0 8px 0;}
    .otherlogin{height: 185px;}
    .otherlogin .login {width: 100%; height: 130px;}

    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:350px) and (max-width:399.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 26px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 330px;}
    .Login {padding-top: 70px;}
    .title {font-size: 27px;}
    .input-container label {font-size: 17px;}
    .input-container input {width: 215px; height: 30px; font-size: 15px;}
    .loginMid {font-size: 10px; width: 325px;}
    .main_lo>div {padding-top: 30px;}
    .ri, .line {width: 67px; margin-top: 9px;}
    .otherlogin h3 {font-size: 12px; margin: 0 7px;}
    .button-container button{font-size: 15px; height: 40px;}
    .otherlogin .login button {font-size: 12px; height: 38px; line-height: 38px;}
    .otherlogin .login img {width: 20px; height: 20px; padding-right: 0px; padding-left: 5px;}
    .kakao, .naver, .facebook{width: 100%;}
    .kakao, .naver {margin: 0 0 8px 0;}
    .otherlogin{height: 185px;}
    .otherlogin .login {width: 100%; height: 130px;}

    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 346px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 10px;}
    footer .fo_mar nav{width: 236px;}
    footer .fo_mar nav .fo_menu li{margin-right: 6px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 192px;}
}

@media (min-width:300px) and (max-width:349.9px){
    header{height: 100px;}
    header h1{width: 84px; height: 38px; margin:10px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%; top: 25px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 280px;}
    .Login {padding-top: 70px;}
    .title {font-size: 22px;}
    .input-container label {font-size: 12px;}
    .input-container input {width: 180px; height: 20px; font-size: 12px;}
    .loginMid {font-size: 10px; width: 275px; height: 15px;}
    .loginMid .ji_fi .join {margin-right: 5px;}
    .loginMid .autoLogin {margin-left: 5px;}
    #remember_id, #autoLogin{width: 10px; height: 10px;}
    .main_lo>div {padding-top: 30px;}
    .ri, .line {width: 57px; margin-top: 9px;}
    .otherlogin h3 {font-size: 10px; margin: 0 7px;}
    .button-container button{font-size: 12px; height: 35px;}
    .otherlogin .login button {font-size: 12px; height: 35px; line-height: 38px;}
    .otherlogin .login img {width: 18px; height: 18px; padding-right: 0px; padding-left: 15px;}
    .kakao, .naver, .facebook{width: 100%;}
    .kakao, .naver {margin: 0 0 8px 0;}
    .otherlogin{height: 185px;}
    .otherlogin .login {width: 100%; height: 121px;}

    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 259px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 256px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 11px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}

@media (max-width:299.9px){
    body{margin-top: -20px;}
    header{height: 100px;}
    header h1{width: 94px; height: 32px; margin:37px auto 19px;}
    header .lo_jo {width: 78px;height: 15px; right: 0; top: 25px;}
    header .lo_jo li{font-size: 10px; margin-right: 5px;}
    header nav{height: 50px;  overflow: hidden; overflow: scroll;}
    header nav .gnb{width: 298px; overflow-x: scroll; flex-wrap: nowrap; display: flex; justify-content: start;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 49px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 270px;}
    .Login {padding-top: 70px;}
    .title {font-size: 22px;}
    .input-container label {font-size: 12px;}
    .input-container input {width: 170px; height: 20px; font-size: 12px;}
    .loginMid {font-size: 10px; width: 265px; height: 15px;}
    .loginMid .ji_fi .join {margin-right: 3px;}
    .loginMid .autoLogin {margin-left: 3px;}
    #remember_id, #autoLogin{width: 10px; height: 10px;}
    .main_lo>div {padding-top: 30px;}
    .ri, .line {width: 52px; margin-top: 9px;}
    .otherlogin h3 {font-size: 10px; margin: 0 7px;}
    .button-container button{font-size: 12px; height: 35px;}
    .otherlogin .login button {font-size: 12px; height: 35px; line-height: 38px;}
    .otherlogin .login img {width: 18px; height: 18px; padding-right: 0px; padding-left: 15px;}
    .kakao, .naver, .facebook{width: 100%;}
    .kakao, .naver {margin: 0 0 8px 0;}
    .otherlogin{height: 185px;}
    .otherlogin .login {width: 100%; height: 121px;}


    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 225px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 228px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 4px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}