*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin: 0 auto;
}
.contents{
    width: 1260px;
    margin: 0 auto;
}
.contents h2{
    font-size: 20px;
    text-align: center;
}
.contents h2 img{
    height: 18px;
    margin-right: 5px;
}
.contents>p{
    color: #707070;
    margin: 20px;
}
header{
    width: 100%;
    height: 172px;
    z-index: 10;
    position: relative;
}
header h1{
    width: 280px;
    height: 90px;
    margin: 0 auto;
}
.logo_img{width:100%; height:100%;}
header .lo_jo{
    width: 130px;
    height: 30px;
    position: absolute;
    right:10%;
    top: 40px;
}
header .lo_jo li{
    font-size: 16px;
    float: left;
    color: #707070;
    margin-right: 10px;
}
header .lo_jo li:nth-child(3){
    margin-right: 0;
}
header .lo_jo li a{
    width: 100%;
    height: 100%;
    display: block;
}
header nav{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #B6B6B6;
    border-top: 1px solid #B6B6B6;
    background: #fff;
}
header nav .gnb{
    text-align: center;
    width: 620px;
    height: 100%;
    margin: 0 auto;
}
header nav .gnb>li{
    line-height: 80px;
    width: 100px;
    float: left;
    height: 80px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 30px;
}
header nav .gnb>li:nth-child(5){
    margin: 0;
}
header nav .gnb>li:hover>a{
    border-bottom: 4px solid #6167B2;
}
header nav .gnb>li.on>a{
    border-bottom: 4px solid #6167B2;
    font-weight: bold;
}
header nav .gnb>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.city_select{
    float: left;
    margin-left: 425px;
    height: 45px;
    margin-top: 21px;

}
.search{
    float: right;
    position: relative;
    margin-top: 21px;
    
}
.search input{
    height: 30px;
    width: 200px;
    padding: 5px 46px 5px 20px;
    font-size: 15px;
    border: 2px solid #6167B2;
    border-radius: 30px;
}
.search img{
    width: 25px;
    right: 16px;
    margin: 0;
    position: absolute;
    height: 25px;
    top: 10px;
    cursor: pointer;
}
.select-box{
    position: relative;
    float: left;
    width: 130px;
    height: 40px;
    border: 2px solid #6167B2;
    margin-right: 10px;
}
.select-box .province-select, .select-box .city-select, .select-box .area-select{
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
    font-size: 15px;
    font-weight: bold;
    color: #6167B2;
    text-align: center;
  }
  .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{
    background: #6167B2;
    color: #fff;
    padding: 5px 0;
    font-size: 15px;
  }

.map{
    width: 100%;
    height: 500px;
    margin-top: 90px;
}
.map>div{
    width: 500px;
    height: 500px;
    background: #dcdcdc;
    border:  1px solid #6167B2;
    margin: 0 auto;
}
.course-select-box{
    width: 100%;
    height: 1215px;
    margin-top: 30px;
    border: 2px solid #6167B2;
    position: relative;
}
.course-select-box>.line{
    width:100%;
    border-top: 1px solid #6167B2;
    position: absolute;
    top: 90px;
}
.course-select-box h3:nth-child(2){
    margin-left: 155px;
}
.course-select-box h3{
    width: 150px;
    height: 60px;
    font-size: 20px;
    float: left;
    text-align: center;
    line-height: 60px;
    margin-top: 15px;
    border: 1px solid #6167B2;
    border-radius: 15px;
    margin-right: 10px;
}
.course-select-box h3.on{
    background: #6167B2;
    color: #fff;
}
.course-select-box .check{
    position: absolute;
    top: 120px;
    width: 305px;
    height: 50px;
    right: 30px;
}
.course-select-box .check label{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.course-select-box .check label input{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.course-select-box .check label p{
    color: #6167B2;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.course-select-box .check .choice{
    width: 130px;
    height: 50px;
    margin-left: 26px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #6167B2;
    color: #6167B2;
    font-weight: bold;
}
.course-select-box .check .choice option{
    background: #6167B2;
    color: #fff;
}
.course-select-box ul.on{
    display: block;
}
.course-select-box ul{
    position: absolute;
    top: 215px;
    left: 130px;
    display: none;
}
.course-select-box ul li{
    width: 1000px;
    height: 200px;
    border: 1px solid #6167B2;
    margin-bottom: 50px;
}
.course-select-box ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.course-select-box ul li .all_img{
    width: 160px;
    height: 160px;
    background: #fff;
    float: left;
    margin: 20px 15px 20px 20px;
}
.course-select-box ul li .data{
    height: 160px;
    top: 20px;
    position: relative;
}
.course-select-box ul li .data h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}
.course-select-box ul li .data p.state{
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #6167B2;
}
.course-select-box ul li .data p.location{
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0;
    bottom: 0;

}

.course-select-box ul li .data p{
    font-size: 15px;
    color: #707070;
    margin-bottom: 10px;
}
.course-select-box ul li .data p span{
    font-size: 18px;
    color: #3E3E3E;
    margin-right : 10px;
}
.course-select-box ul li .data p .notice{
    font-size: 10px;
    color: #707070;
}
footer{
    width: 100%;
    height: 172px;
    background-color: #C7C7C7;
    position: relative;
    margin-top: 130px;
}
footer .fo_mar{width: 784px; height: 70px; margin: 0 auto; padding-top: 57px;}
footer .fo_mar h1{width: 180px; height: 60px; float: left; margin-right: 100px;}
footer .fo_mar h1 img{width:100%; height: 100%;}
footer .fo_mar nav{height: 30px; width: 504px; float: left;}
footer .fo_mar nav .fo_menu li{float: left; margin-right: 20px; font-size: 20px; color: #707070;}
footer .fo_mar p{color: #707070; font-size: 16px; width: 267px; height: 23px; margin-top: 10px; float: left;}

@media (min-width:1180px) and (max-width:1570.9px){
    .contents{width: 1100px;}
    .city_select{margin-left: 348px;}
    .course-select-box h3:nth-child(2){margin-left: 76px;}
    .course-select-box ul{left: 48px;}
}
@media (min-width:980px) and (max-width:1179.9px){
    .contents{width: 980px;}
    .city_select{margin-left: 282px;}
    .search input{width: 145px;}
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box ul{left: 41px;}
    .course-select-box ul li{width: 900px;}
    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 163px; height: 53px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 15px;}
    footer .fo_mar p{font-size: 12px; margin-top: 0px;}
}


@media (min-width:700px) and (max-width:979.9px){
    header{height: 152px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo li{font-size: 13px;}
    header nav{height: 60px;}
    header nav .gnb>li{font-size: 13px; line-height: 60px;}
    header nav .gnb>li>a{height: 56.984px;}

    .contents{width: 700px;}
    .city_select{margin-left: 147px;}
    .select-box{width: 120px;}
    .search{margin-top: 19px; margin-right: 0px;}
    .search input{width: 81px; font-size: 12px;}
    .map{height:400px;}
    .map>div{width:400px; height:400px;}
    .course-select-box h3{width: 103px;}
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 126px; right: 3px;}
    .course-select-box ul{left: 41px;}
    .course-select-box ul li{width: 624px;}
 
    footer {height: 130px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 143px; height: 47px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 12px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}


@media (min-width:650px) and (max-width:699.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 622px;}
    .city_select{margin-left: 147px;}
    .select-box{width: 113px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 14px;}
    .search{margin-top: -102px; margin-right: 44px;}
    .search input{width: 81px; font-size: 12px;}
    .map{height:300px;}
    .map>div{width:300px; height:300px;}
    .course-select-box{height: 1099px;}
    .course-select-box .check label input{width:15px; height:15px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:15px;}
    .course-select-box h3{width: 90px; font-size: 16px; height: 51px; line-height: 51px; margin-top: 19px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 113px; right: 3px;}
    .course-select-box .check .choice{width: 115px; height: 42px; font-size: 15px; margin-top:9px;}
    .course-select-box ul{left: 30px; top: 195px;}
    .course-select-box ul li{width: 556px; margin-bottom: 20px;}
    .course-select-box ul li .data p{margin-bottom: 0px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 18px;}

    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 583px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 378px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px;}
}

@media (min-width:600px) and (max-width:649.9px){
    header{height: 142px;}
    header h1{width: 215px; height: 67px; margin: 23px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:600px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 16%;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 580px;}
    .city_select{margin-left: 147px;}
    .select-box{width: 113px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 14px;}
    .search{margin-top: -102px; margin-right: 44px;}
    .search input{width: 81px; font-size: 12px;}
    .map{height:300px;}
    .map>div{width:300px; height:300px;}
    .course-select-box{height: 1099px;}
    .course-select-box .check label input{width:15px; height:15px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:15px;}
    .course-select-box h3{width: 83px; font-size: 16px; height: 51px; line-height: 51px; margin-top: 19px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 113px; right: 3px;}
    .course-select-box .check .choice{width: 115px; height: 42px; font-size: 15px; margin-top:9px;}
    .course-select-box ul{left: 30px; top: 195px;}
    .course-select-box ul li{width: 520px; margin-bottom: 20px;}
    .course-select-box ul li .data p{margin-bottom: 0px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 18px;}
   
    footer {height: 130px; margin-top: 110px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:550px) and (max-width:599.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:550px;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 82px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}
  
    .contents{width: 520px;}
    .city_select{margin-left: 89px;}
    .select-box{width: 113px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 14px;}
    .search{margin-top: -102px; margin-right: -11px;}
    .search input{width: 81px; font-size: 12px; height: 22px; padding: 5px 28px 5px 8px;}
    .search img{width:16px; height: 16px; right: 10px;}
    .map{height:300px;}
    .map>div{width:300px; height:300px;}
    .course-select-box{height: 1022px;}
    .course-select-box .check label input{width:15px; height:15px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:15px;}
    .course-select-box h3{width: 73px; font-size: 16px; height: 51px; line-height: 51px; margin-top: 19px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 102px; right: 0px; width: 266px;}
    .course-select-box .check .choice{width: 115px; height: 42px; font-size: 15px; margin-top:9px;}
    .course-select-box ul{left: 14px; top: 172px;}
    .course-select-box ul li{width: 488px; height: 190px; margin-bottom: 20px;}
    .course-select-box ul li .all_img{width:150px; height:150px;}
    .course-select-box ul li .data p{margin-bottom: 0px; font-size: 12px;}
    .course-select-box ul li .data h4{font-size: 17px;}
    .course-select-box ul li .data p span{font-size:15px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 16px;}
   
    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:500px) and (max-width:549.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 76px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 480px;}
    .city_select{margin-left: 72px;}
    .select-box{width: 113px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 14px;}
    .search{margin-top: -102px; margin-right: 0px;}
    .search input{width: 81px; font-size: 12px; height: 22px; padding: 5px 28px 5px 8px;}
    .search img{width:16px; height: 16px; right: 10px;}
    .map{height:250px;}
    .map>div{width:250px; height:250px;}
    .course-select-box{height: 808px;}
    .course-select-box>.line{top: 77px;}
    .course-select-box .check label input{width:15px; height:15px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:15px;}
    .course-select-box h3{width: 66px; font-size: 13px; height: 38px; line-height: 38px; margin-top: 19px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 87px; right: 0px; width: 249px;}
    .course-select-box .check .choice{width: 95px; height: 38px; font-size: 13px; margin-top:12px;}
    .course-select-box ul{left: 14px; top: 160px;}
    .course-select-box ul li{width: 450px; height: 140px; margin-bottom: 20px;}
    .course-select-box ul li .all_img{width:100px; height:100px;}
    .course-select-box ul li .data p{margin-bottom: 0px; font-size: 10px;}
    .course-select-box ul li .data h4{font-size: 15px;}
    .course-select-box ul li .data p span{font-size:12px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 14px;}
    .course-select-box ul li .data p.location{bottom: 49px;}
  
    footer {height: 130px; margin-top: 70px;}
    footer .fo_mar{width: 444px; height: 53px; padding-top: 45px;}
    footer .fo_mar h1{width: 130px; height: 40px; margin-right: 42px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:450px) and (max-width:499.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 5%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 65px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 430px;}
    .contents>p{font-size: 13px;}
    .contents h2{font-size: 17px;}
    .contents h2 img{height: 16px;}
    .city_select{margin-left: 72px;}
    .select-box{width: 103px; height: 33px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 12px;}
    .search{margin-top: -95px; margin-right: 0px;}
    .search input{width: 81px; font-size: 12px; height: 22px; padding: 5px 28px 5px 8px;}
    .search img{width:16px; height: 16px; right: 10px;}
    .map{height:250px;}
    .map>div{width:250px; height:250px;}
    .course-select-box{height: 808px;}
    .course-select-box>.line{top: 77px;}
    .course-select-box .check label input{width:15px; height:15px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:15px;}
    .course-select-box h3{width: 58px; font-size: 13px; height: 38px; line-height: 38px; margin-top: 19px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 87px; right: 0px; width: 249px;}
    .course-select-box .check .choice{width: 95px; height: 38px; font-size: 13px; margin-top:12px;}
    .course-select-box ul{left: 14px; top: 160px;}
    .course-select-box ul li{width: 403px; height: 140px; margin-bottom: 20px;}
    .course-select-box ul li .all_img{width:100px; height:100px;}
    .course-select-box ul li .data p{margin-bottom: 0px; font-size: 10px;}
    .course-select-box ul li .data h4{font-size: 15px;}
    .course-select-box ul li .data p span{font-size:12px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 14px;}
    .course-select-box ul li .data p.location{bottom: 49px;}
  
    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:400px) and (max-width:449.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 55px; height: 50px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 380px;}
    .contents>p{font-size: 10px;}
    .contents h2{font-size: 14px;}
    .contents h2 img{height: 14px;}
    .city_select{margin-left: 33px;}
    .select-box{width: 96px; height: 32px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 11px;}
    .search{margin-top: -92px; margin-right: 0px;}
    .search input{width: 73px; font-size: 10px; height: 17px; padding: 5px 23px 5px 8px;}
    .search img{width:14px; height: 14px; right: 10px; top: 8px;}
    .map{height:250px;}
    .map>div{width:250px; height:250px;}
    .course-select-box{height: 790px;}
    .course-select-box>.line{top: 77px;}
    .course-select-box .check label input{width:12px; height:12px; margin-top: 3px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:12px; font-weight: 400;}
    .course-select-box h3{width: 50px; font-size: 13px; height: 38px; line-height: 38px; margin-top: 19px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 81px; right: 0px; width: 196px;}
    .course-select-box .check .choice{width: 80px; height: 30px; font-size: 11px; margin-top:12px; margin-left: 15px; border: 1px solid #6167B2;}
    .course-select-box ul{left: 14px; top: 140px;}
    .course-select-box ul li{width: 351px; height: 140px; margin-bottom: 20px;}
    .course-select-box ul li .all_img{width:100px; height:100px;}
    .course-select-box ul li .data{height: 113px;}
    .course-select-box ul li .data p{margin-bottom: 0px; font-size: 10px;}
    .course-select-box ul li .data h4{font-size: 12px;}
    .course-select-box ul li .data p span{font-size:12px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 11px;}
   
    footer {height: 115px; margin-top: 70px;}
    footer .fo_mar{width: 392px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 20px;}
    footer .fo_mar nav{width: 272px;}
    footer .fo_mar nav .fo_menu li{margin-right: 15px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 267px;}
}

@media (min-width:350px) and (max-width:399.9px){
    header{height: 119px;}
    header h1{width: 165px; height: 51px; margin: 16px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 26px;}
    header nav .gnb>li>a{height: 46.984px;}

    .contents{width: 330px;}
    .contents>p{font-size: 10px;}
    .contents h2{font-size: 14px;}
    .contents h2 img{height: 14px;}
    .city_select{margin-left: 15px;}
    .select-box{width: 91px; height: 32px;}
    .select-box .province-select, .select-box .city-select, .select-box .area-select, .select-box .province-select option, .select-box .city-select option, .select-box .area-select option{font-size: 10px;}
    .search{margin-top: -92px; margin-right: -2px;}
    .search input{width: 61px; font-size: 10px; height: 17px; padding: 5px 23px 5px 8px;}
    .search img{width:14px; height: 14px; right: 10px; top: 8px;}
    .map{height:200px;}
    .map>div{width:200px; height:200px;}
    .course-select-box{height: 590px;}
    .course-select-box>.line{top: 60px;}
    .course-select-box .check label input{width:12px; height:12px; margin-top: 3px;}
    .course-select-box .check label, .course-select-box .check label p{font-size:12px; font-weight: 400;}
    .course-select-box h3{width: 41px; font-size: 10px; font-weight: 500; height: 28px; line-height: 28px; margin-top: 14px;} 
    .course-select-box h3:nth-child(2){margin-left: 8px;}
    .course-select-box .check{top: 61px; right: 0px; width: 196px;}
    .course-select-box .check .choice{width: 80px; height: 30px; font-size: 11px; margin-top:12px; margin-left: 15px; border: 1px solid #6167B2;}
    .course-select-box ul{left: 14px; top: 115px;}
    .course-select-box ul li{width: 302px; height: 98px; margin-bottom: 20px;}
    .course-select-box ul li .all_img{width:80px; height:80px; margin: 10px 6px;}
    .course-select-box ul li .data{height: 88px; top: 10px;}
    .course-select-box ul li .data p{margin-bottom: 0px; font-size: 10px;}
    .course-select-box ul li .data h4{font-size: 10px;}
    .course-select-box ul li .data p span{font-size:11px;}
    .course-select-box ul li .data p.state, .course-select-box ul li .data p.location{font-size: 10px;}
   
    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 346px; height: 53px; padding-top: 40px;}
    footer .fo_mar h1{width: 100px; height: 35px; margin-right: 10px;}
    footer .fo_mar nav{width: 236px;}
    footer .fo_mar nav .fo_menu li{margin-right: 6px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 0px; width: 192px;}
}

@media (min-width:300px) and (max-width:349.9px){
    header{height: 100px;}
    header h1{width: 84px; height: 38px; margin:10px auto;}
    header .lo_jo {width: 88px;height: 15px; right: 3%; top: 25px;}
    header .lo_jo li{font-size: 10px;}
    header nav{height: 50px;}
    header nav .gnb{width:100%;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 50px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}
  
    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 259px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 256px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 11px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}

@media (max-width:299.9px){
    body{margin-top: -20px;}
    header{height: 100px;}
    header h1{width: 94px; height: 32px; margin:37px auto 19px;}
    header .lo_jo {width: 78px;height: 15px; right: 0; top: 25px;}
    header .lo_jo li{font-size: 10px; margin-right: 5px;}
    header nav{height: 50px;  overflow: hidden; overflow: scroll;}
    header nav .gnb{width: 298px; overflow-x: scroll; flex-wrap: nowrap; display: flex; justify-content: start;}
    header nav .gnb>li{font-size: 10px; line-height: 50px; width: 49px; height: 49px; margin-right: 13px;}
    header nav .gnb>li>a{height: 46.984px;}
   
    footer {height: 115px; margin-top: 40px;}
    footer .fo_mar{width: 225px; height: 77px; padding-top: 16px;}
    footer .fo_mar h1{width: 87px; height: 32px; margin-right: 0px;}
    footer .fo_mar nav{width: 228px; margin-top: 14px; height: 18px;}
    footer .fo_mar nav .fo_menu li{margin-right: 4px; font-size: 10px;}
    footer .fo_mar p{font-size: 10px; margin-top: 6px; width: 192px;}
}